@import '../../../variables'
.charts
  display: -ms-flex
  display: -webkit-flex
  display: flex
  flex-flow: row wrap
.charts > div
  width: 50%
.location
  display: -ms-flex
  display: -webkit-flex
  display: flex
  flex-flow: row wrap
.row-flex > div
  width: 50%
.row-flex > section
  width: 50%
.row-flex
  display: -ms-flex
  display: -webkit-flex
  display: flex
  flex-flow: row wrap
.image-gallery-image > img
  height: inherit
  overflow:hidden
.image-gallery-thumbnails-container > a > img
  height: 58px
