@import '../../variables'
.container
    height: 25%
    display: block
    padding-top: 50%
.preImg
    text-align: center
    padding: 0 auto
.preImg img {
    border: 2px solid #000;
    vertical-align: baseline;
}
.form-inline
    margin: 0 auto