body
    background-color: #fff
.box
    flex-direction: row
    flex-wrap: nowrap
    width: 70%
    margin: 0 auto
.box_card
    border: 2px solid #add8e6
    margin: 10px 0px 10px 0px
    padding: 10px
